<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form class="rsgorosa-form" id="formulario-cadastro">
                <span>Crie sua conta na Rede Social Go Boto Rosa</span>
                <div>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu email" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite seu nick" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required="required">
                </div>
                <div>
                    <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme sua senha" required="required">
                </div>
                <p><a href="/login"><center>Fazer login?</center><br></a></p>
                <button type="submit" class="btn-rsgorosa">Cadastrar</button>
            </form>
        </div>
    </div>

    <!-- para usar sweetalert aqui precisa referenciar o script.html conforme abaixo -->
    {{ template "scripts" }}
    <!-- <script src="/assets/js/jquery.min.js"></script>  se usar alert --> 
    <script src="/assets/js/cadastro.js"></script>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script> -->

</body>
</html>